pytest
pytest-timeout
pytest-cov
mock
# TODO: Deprecate ovos-core test dependency
ovos-core~=0.0.7,>=0.0.8a21
ovos-workshop==0.0.12
# TODO: ovos-workshop pinned to test backwards-compat
ovos-plugin-manager~=0.0.18
ovos-skills-manager
neon-lang-plugin-libretranslate